

:host{
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 50px;

    @media (max-width: 800px) {
        // position: fixed;
        width: 100%;
    }
}


// a wrapper to provide position relative for impressum
.footer{
    position: relative;
    height: 100%;
    width: 100%;

    @media (max-width: 800px) {
        position: inherit;
    }
}

.impressum {
    position: absolute;
    bottom: 16px;
    right: 84px;
    color: var(--primary-light);
    font-size: 12px;
    cursor: pointer;
    transition: all 120ms ease-in-out;

    &:hover {
        color: var(--accent1);

        &:after {
            width: 0px;
            animation: width 200ms ease-in-out;
        }
    }

    @keyframes width {
        from{
            width: 4rem;
        }to{
            width: 0px;
        }
    }

    &:after {
        content: "";
        width: 6rem;
        height: 1px;
        background-color: var(--primary-light);
        top: 50%;
        right: -6.8rem;
        position: absolute;
        transform: translateY(180deg);
    }
}