:host{
    background-color: red;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

table{
    width: 100%;
    min-height: max-content;
}
