:host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110px;
}


.wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 100%;


    &:after{
        content: '';
        z-index: 2;
        position: absolute;
        width: 4px;
        background-color: var(--accent2);
        height: 65px;
        right: 0;
        bottom: 23px;
        translate: transitionY(50%);
        }
}

h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-left: 22px;
    font-size: 84px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px  rgb(177, 193, 195);

    @media (max-width: 550px) {
        font-size: 52px!important;
    }

    @media (max-width: 375px) {
        font-size: 12px;
    }
}

    .subline {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: var(--primary-light);
       
        font-size: 18px;
        letter-spacing: 4px;
        margin-right: 24px;

        @media (max-width: 550px) {
            font-size: 14px;
        }

        @media (max-width: 375px) {
            font-size: 12px;
        }
    }



