<div class="currencySearch-container">

    <div  class="inputNumber">
        <img src="assets/img/magnifier.png" class="icon-magnifier" alt="search-icon">
        <input
            #inputNumber
            min="0"
            type="number"
            [(ngModel)]="assetService.amountInput"
            (ngModelChange)="assetService.calculateExchange()" >
        
    </div>   
            <!-- position rel -->
    <div class="searchAssetContainer">
        <img src="assets/img/magnifier.png" class="icon-magnifier" alt="search-icon">
        <input 
            id='inputfieldSearchAsset'
            class="inputAsset"
            min="2" 
            [(ngModel)]="assetInput" 
            (ngModelChange)="getSearchData(); assetService.calculateExchange()"
            (focus)="toggleList(true)"   
            [value]="assetService.requestedAssetID  | titlecase"       
            >
            
            <!-- position absolute -->
        <li 
            id='listAssetOptions'
            *ngIf="showList"
            (mouseenter)="toggleList(true)"
            class="filteredAssetOptions">
                <ul             
                *ngFor="let asset of filteredAsset; index as i" (click)="updateRequestedAsset(asset, $event)">
                    {{ asset | titlecase}}
                </ul>
        </li>
    </div>
</div>
<!-- (blur)="toggleList(false, $event)" -->


<!-- CONVERTER SYMBOL -->
<div>
    <img src="assets/img/exchange-white.png" class="imgArrows">
</div>

<!-- EUR SECTION -->
<div class="currencyEUR-container">
    <input [(ngModel)]='assetService.priceInEUR' class="inputNumber" type="number" disabled="true" >
    <div class="EUR">Euro</div>
</div>