<div class="currencySearch-container">

    <input 
        class="inputNumber"
        min="0" 
        type="number" 
        [(ngModel)]="amountInput" 
        (ngModelChange)="calculateExchange()" >

               
            <!-- position rel -->
    <div class="searchAssetContainer">
        <input 
            id='inputfieldSearchAsset'
            class="inputAsset"
            min="2" 
            [(ngModel)]="assetInput" 
            (ngModelChange)="getSearchData()"
            (focus)="toggleList(true)" 
            [value]="assetService.requestedAssetID | titlecase"
            >
            
            <!-- position absolute -->
        <li 
            id='listAssetOptions'
            *ngIf="showList"
            (mouseenter)="toggleList(true)"
            class="filteredAssetOptions">
                <ul             
                *ngFor="let asset of filteredAsset; index as i" (click)="updateRequestedAsset(asset, $event)">
                    {{ asset | titlecase}}
                </ul>
        </li>
    </div>
</div>
<!-- (blur)="toggleList(false, $event)" -->


<!-- CONVERTER SYMBOL -->
<div>
    <img src="assets/img/exchange-white.png" class="imgArrows">
</div>

<!-- EUR SECTION -->
<div class="currencyEUR-container">
    <input [(ngModel)]="priceInEUR" class="inputNumber" type="number" disabled="true" >
    <div class="EUR">Euro</div>
</div>