.imgArrows {
    width: 30px;
}

.inputNumber {
    background-color: black;
    padding: 4px;
    margin-right: 12px;
    border: unset;
    border-right: 1px solid rgba(255, 255, 255, 0.65);
    color: white;
}

.inputAsset {
    background-color: black;
    padding: 4px;
    margin-right: 8px;
    border: unset;
    width: 80px;
    color: white;
}
input::placeholder{
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.currencyOne {
    background-color: rgba(0, 0, 0, 0.753);
    flex: 1;
    max-width: 50%;
    padding: 8px;
}

.currencyEUR {
    background-color: rgba(0, 0, 0, 0.753);
    max-width: 50%;
    flex: 1;
    padding: 8px;
}
