:host {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

    @media (max-width: 500px) {
        flex-direction: column;
        gap: 0.5em!important;
    }
}

.currencySearch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    border-radius: 16px;
    height: 36px;
    min-width: 150px;
    width: 40%;
    flex: 1;

    @media (max-width: 500px) {
        width: 84%;
    }


    // Inputfield for searching Amount
    .inputNumber {
        width: 45%;
        background-color: var(--bg);
        height: 36px;
    }

    // contains searchInput and container for holding filtered Options
    .searchAssetContainer {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 14px;
        background-color: var(--bg);
        border-left: 1px rgb(211, 205, 205) solid;
        height: 20px;


        li {
            width: fit-content;
            margin-top: 8px;
            list-style-type: none !important;
            position: absolute;
            left: 0;
            background-color: var(--bg);
            cursor: pointer;
        }
        ul {
            margin-top: 4px;
            padding: 4px 8px;
            border-bottom: 1px var(--primary-light) solid;
            transition: all ease-in-out 150ms;

            &:hover {
                background-color: var(--hover);
            }
        }
    }

    // Inputfield for searching Asset
    .inputAsset {
    }
}

.currencyEUR-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    border-radius: 16px;
    height: 36px;
    min-width: 150px;
    width: 40%;
    text-align: center;
    font-size: 14px;

    @media (max-width: 500px) {
        width: 84%;
    }

    .EUR {
        width: 50%;
        border-left: 1px rgb(211, 205, 205) solid;
    }
    input {
        width: 50%;
    }
}

.imgArrows {
    width: 1.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    text-align: center;
    background-color: transparent;
    border: unset;
    color: var(--primary-light);
    overflow: auto;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::placeholder {
    color: var(--primary-light);
}
