:host {
    padding: 2rem;
    background-color: var(--secondary);
    color: var(--primary-light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    border-top-right-radius: 0px !important;
    gap: 2rem;
    overflow: auto;

    @media (max-width: 500px) {
        padding: 8px !important;
    }
}

.info {
    position: absolute;
    left: 2rem;
    bottom: 1em;
    z-index: 10;
    font-size: 12px;
    margin-top: 16px;

    @media (max-width: 1000px) {
        bottom: 2em;
    }

    @media (max-width: 400px) {
        bottom: 1em;
        left: 1rem;
    }
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
    flex: 1;
    display: flex;
    margin-top: 26px;
    text-align: justify;



    a {
        text-decoration: none;
        color: var(--accent2);
    }

    // causes issues, when not restricted to a width
    .text {
        max-width: 95%;
        word-break: break-word;
    }


}
// below Graph: website & Co.
.furtherInfos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 12px;

    .infoWithIcon {
        position: relative;
        display: flex;
        align-items: center;
        color: var(--primary-light);
        margin: 0.4em 1em;
    }

    .websiteLink{
        cursor: pointer;
    }

    .icon {
        width: 24px;
        margin-right: 6px;
    }

    .detail {
        border-left: 1px solid var(--primary-light);
        margin-left: 8px;
        padding-left: 12px;

        @media (max-width: 700px) {
            border-left: none;
        }
    }
}

.desktopOnly {
    @media (max-width: 1000px) {
        display: none;
    }
}
.mobileOnly {
    display: none;

    @media (max-width: 1000px) {
        display: block;
    }
}

.readMore {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: italic;
    cursor: pointer;
    color: var(--accent2);
    transition: all 120ms ease-in-out;

    &:hover {
        color: var(--primary-light);
    }
}

.accentColor {
    color: var(--accent2);
    margin-right: 4px;
}
