:host {
    padding: 2rem;
    background-color: var(--secondary);
    color:  var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    border-top-right-radius: 0px !important;
    gap: 2rem;
    overflow: auto;

    @media (max-width: 500px) {
        padding: 8px!important;
          }
}

// .wrapper{
//     max-width: 100%;
//     width: 100%;
//     flex: 1;
//     overflow: auto;
// }

.info {
    position: absolute;
    left: 2rem;
    bottom: 0.8rem;
    z-index: 10;
    font-size: 12px;
    margin-top: 16px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    flex: 1;
    display: flex;  
    margin-top: 26px;

    .icon-web{
        width: 24px;
        margin-right: 12px;
    }

    a{
        text-decoration: none;
        color:  var(--primary);
    }

    // causes issues, when not restricted to a width
    .text{
        max-width: 95%;
        word-break: break-word;
    }

    .websiteLink{
        position: relative;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        font-style: italic;
        color:  var(--primary);
        cursor: pointer;
    }
}

.readMore{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    cursor: pointer;

    &:hover{
        color: var(muted);
    }
}

.desktopOnly{

    @media (max-width: 1000px) {
        display: none;
           }
    
}
.mobileOnly{
    display: none;

    @media (max-width: 1000px) {
       display: block;
          }
}