<div class="wrapper">

    <app-calculator #calculator class="border-rad flex-c-c gap-1">
    </app-calculator>


    <app-graph class="flex-1" *ngIf="currentTab === 'table'" [requestedAssetID]="calculator.requestedAssetID" >
    </app-graph>


    <app-table *ngIf="currentTab === 'graph'" [requestedAssetID]="calculator.requestedAssetID">
    </app-table>


    <!-- pos absolute -->

    <!-- BUG TO FIX: graph and table are other way around in variable names - but all is functioning correctly -->
    <div *ngIf="currentTab === 'graph'" class="info">
        <i>* all prices in €</i>
    </div>

    <!-- ASSET INFOS + TEXT -->
    <div *ngIf="currentTab === 'table'" class="infoContainer">

        <div class="furtherInfos">
            <div *ngIf="assetWebsite" class="infoWithIcon websiteLink">
                <img class="icon" src="assets/img/website.png" alt="icon-website">
                <a href="{{ assetWebsite }}">{{ assetWebsite }}</a>
            </div>
            <div *ngIf="lowestPrice" class="infoWithIcon">
                <img class="icon" src="assets/img/high.png" alt="icon-high">
                <span class="accentColor">24h-High </span>
                  € {{ highestPrice }}
            </div>

            <div *ngIf="highestPrice" class="infoWithIcon">
                <img class="icon" src="assets/img/low.png" alt="icon-low">
                <span class="accentColor">24h-Low </span>
                  € {{ lowestPrice }}
            </div>
        </div>

        <!-- DESCRIPTION ASSET -->
        <!-- <div [innerHTML]="fulltextOpen ? assetInfotext : assetInfotext"></div> -->
        <div 
            class="shortText desktopOnly" 
            [class.bottomMargin]="fulltextOpen"
            [innerHTML]="fulltextOpen ? assetInfotext : assetInfotext | slice:0:550">
            <!-- {{ fulltextOpen ? assetInfotext : assetInfotext | slice:0:550}}  -->
            <span *ngIf="!fulltextOpen" (click)="fullText('open')" class="readMore">... read more</span>
            <span *ngIf="fulltextOpen" (click)="fullText('close')" class="readMore readmore-open">... show less</span>
        </div>

        <div class="shortText mobileOnly" [class.bottomMargin]="fulltextOpen" > 
            {{ fulltextOpen ? assetInfotext : assetInfotext | slice:0:300 }}
            <span *ngIf="!fulltextOpen" (click)="fullText('open')" class="readMore">... read more</span>
            <span *ngIf="fulltextOpen" (click)="fullText('close')" class="readMore readmore-open">... show less</span>
        </div>

    </div>
</div>