:host {
    padding: 2rem;
    background-color:var(--bg-dark);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    border-top-right-radius: 0px!important;
}
