

    <app-sidebar *ngIf="currScreenWidth > 1100" class="pos-rel"></app-sidebar>
    <!-- see Hostlistener -->
    
    
    <div class="wrapper flex-1">
        <app-sidebar-mobil *ngIf="currScreenWidth < 1100" ></app-sidebar-mobil>
    
        <div class="main">
            <app-menu #menu></app-menu>
            <app-main [currentTab]="menu.activeTab" class="pos-rel border-rad"></app-main>
        </div>

        <app-asset-section></app-asset-section>
    
        <app-footer *ngIf="currScreenWidth < 1100" ></app-footer>
    
    </div>


    
    <!-- pos. absolute -->
    <app-imprint *ngIf="imprintService.imprintOpen" ></app-imprint>


<!-- pos. absolute -->
<app-footer *ngIf="currScreenWidth > 1100" ></app-footer> 