:host {
    display: flex;
    background-color: var(--bg);
    width: 175px;
    display: flex;
    align-items: flex-start;
}

.subline-wrapper {
    display: flex;
    align-items: center;
    margin-top: 44px;
    width: 50px;
    text-align: justify;

    .subline {
        width: 90px;
        word-wrap: wrap;
        color: var(--primary-light);
        font-size: 24px;
        font-weight: 200;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }
}

h1 {
    margin: 0;
    position: absolute;
    writing-mode: vertical-lr;
    left: 0;
    bottom: 0;
    color: rgba(245, 245, 245, 0);
    font-size: 172px;
    font-weight: 900;
    transform: translateX(-46px);
    -webkit-text-stroke: 1px rgb(177, 193, 195);

    @media (min-width: 1600px) {
        font-size: 202px;
    }
}

#offset {
    transform: translateX(-36px) translateY(-8px);
    -webkit-text-stroke: 0px rgba(2, 2, 2, 0) !important;
    color: rgba(0, 0, 0, 0.068);
}
