:host{
    background-color: black;
    min-width: 175px;
}

h1{
    margin: 0;
    position: absolute;
    writing-mode: vertical-lr;
    left: 0;
    bottom: 0;
    color: rgba(245, 245, 245, 0);
    font-size: 172px;
    transform: translateX(-46px);
    -webkit-text-stroke: 1px rgb(175, 169, 169);
}

#offset {
    transform: translateX(-36px) translateY(-8px);
    -webkit-text-stroke: 0px rgba(2, 2, 2, 0) !important;
    color: rgba(0, 0, 0, 0.068);
}