:host {
    display: flex;
    background-color: var(--bg);
    width: 100px;
    min-width: 116px;
    display: flex;
    align-items: flex-start;

    @media (min-width: 1600px) {
        width: 150px;
    }

    @media (max-height: 780px) {
        min-width: 98px;
        width: 98px;
    }

    &:after {
        content: "";
        width: 1px;
        background-color: rgba(240, 246, 252, 0.598);
        height: 155px;
        position: absolute;
        right: 0;
        top: 0;  
    }
}

.subline-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
    text-align: justify;

    .subline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(253 253 253 / 74%);
        font-size: 24px;
        font-weight: 200;

        @media (max-height: 780px) {
            font-size: 22px;
        }

        .your {
            font-size: 14px !important;
            letter-spacing: 10px;
            margin-left: 10px;

            @media (max-height: 780px) {
                font-size: 12px!important;
            }
        }
    }
}

h1 {
    margin: 0;
    position: absolute;
    writing-mode: vertical-lr;
    // left: -0;
    bottom: -20px;
    color: rgba(245, 245, 245, 0);
    font-size: 172px;
    font-weight: 900;
    transform: translateX(-49px);
    -webkit-text-stroke: 1px rgb(177, 193, 195);

    @media (min-width: 1600px) {
        font-size: 202px;
    }

    @media (max-height: 780px) {
        font-size: 152px;
    }
}

#offset {
    transform: translateX(-36px) translateY(-8px);
    -webkit-text-stroke: 0px rgba(2, 2, 2, 0) !important;
    color: rgba(0, 0, 0, 0.068);
}
