:host{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
    border-radius: 16px;
    padding: 4px;
    color:white;
    width: 100%;
    min-width: 200px;
    min-height: 150px;
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rebeccapurple;
}