<div>
    <div class="upperRow">
        <div class="circle"></div>
        <!-- <img src="{{ images[0] }}"> -->
        <div class="rankingNr">#1</div>
    </div>

    <div class="infoPart">
        <div class="row">
            <span>Current Price</span>
            <span>€ 454656</span>
        </div>
        <div class="row">
            <span>Market Cap</span>
            <span>€ 344545</span>
        </div>
    </div>

    <!-- pos absolute -->
    <div class="assetName">name asset</div>
</div>