<div class="wrapper">

    <button >
        <div (click)="closeImprint()" class="pos-rel">
            <img src="assets/img/back.png">
            <span>return</span>
        </div>
    </button>


    <h1>Impressum</h1>
    <span>Angaben gemäß § 5 TMG</span>

    <p class="text">
        Dieses Projekt entstand im Rahmen der Weiterbildung zur Frontend-Software Entwicklerin und dient v.a.
        Testzwecken.
    </p>


    <h2>Datenherkunft</h2>

    Alle Daten werden von der öffentlichen API Schnittstelle, die von Coingecko bereitgestellt wird, bezogen.<br>
    Es kann keine Haftung für Richtigkeit und Aktualität der dargestellten Daten übernommen werden.<br>
    <br>
    Mehr erfahren unter:<br>
    >> https://www.coingecko.com/<br><br>
    API:<br>
    >> https://www.coingecko.com/en/api<br>



    <h2>Kontakt</h2>

    Vilia Zeisig<br>
    Mühlenstrasse 6<br>
    01774 Klingenberg<br>
    Telefon: 0175-69 16 381<br>
 


    <h1>Datenschutz</h1>

    <p>
        Die Nutzung der Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten
        personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies stets
        auf
        freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.<br>
        Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
        Sicherheitslücken
        aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.<br>
        Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von
        nicht
        ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die
        Betreiber
        der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von
        Werbeinformationen,
        etwa durch Spam-Mails, vor.
    </p>


    <br>
    Impressum vom Impressum Generator der Kanzlei Hasselbach, Frankfurt
</div>