:host {
    position: absolute;
    color: white;
    background: black;
    bottom: 0px;
    top: 0px;
    left: 130px;
    right: 0px;
    z-index: 1000;
    padding: 100px 100px;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    overflow: auto;
}

button {
    position: absolute;
    bottom: 40px;
    right: 80px;
    height: 35px;
    width: 100px;
    color: var(--primary-light);
    background-color: var(--accent1);
    border: 1px solid var(--primary-light);
    border-radius: 25px;

    .pos-rel {
        height: 100%;
        width: 100%;
        position: relative;
    }
    img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 33px;
        height: 33px;
        filter: invert(1);
        background-color: var(--primary);
        border-radius: 50%;
    }

    // word: return
    span {
        position: absolute;
        bottom: 10px;
        right: 12px;
    }

    // button on hover
    &:hover {
        background-color: var(--primary-light);
        color: black;
        cursor: pointer;
        // transition: all 125ms ease-in-out;

        div {
            background-color: var(--primary-light);
            border-radius: 16px;
        }
        img {
            right: 0!important;
            left: unset!important;
            filter: invert(0) !important;
            transition: all 250ms ease-in-out;
            background-color: var(--accent1);

            // animation: slideRight 250ms forwards;
        }

        span{
            left: 12px!important;
            right: unset!important;
            transition: all 250ms ease-in-out;
        }
    }
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 24px 0px 12px 0px !important;
    margin-block-end: 0em;
}

p {
    margin-top: 30px;
}
