*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --bg-dark: rgb(77, 78, 90);
    --bg-light: rgba(185, 180, 180, 0.555);
    --primary: rgb(226, 228, 243) ;
    --accent: rgb(189, 178, 28);
}

app-root{
    overflow: hidden;
}

h2{
    font-size: 22px;
    font-weight: 200;
}

h3{
    font-size: 18px;
}

.mt-1{
margin-top: 2rem;
}

.border-rad{
    border-radius: 16px;
}

.flex-c-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-1{
gap: 2rem;
}

