:host{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.graph{
    width: 100%;
    max-width: 960px;
}

canvas{
    max-width: 100%;
    flex: 1;
}