:host {
    // padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    min-width: 180px;
    max-width: 230px;
    height: 100%;
    overflow: auto;

    @media (max-width: 1000px) {
        width: 100%;
        max-width: unset;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    @media (max-width: 350px) {
        justify-content: center;
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 16px;
    padding: 45px 6px 40px 6px;
    color: var(--primary-light);
    width: 100%;
    min-height: 150px;
    margin-top: 22px;
    overflow: hidden;
    transition: all ease-in-out 150ms;

    &:hover{
        box-shadow: rgb(36, 35, 35) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    
       
        .rankingNr{
            color: var(--accent2);
        }

        .assetName{
            color: var(--accent2);

            &::after{
                background-color: var(--accent2);
            }
        }

        // .assetName ::after{
        //     color: var(--accent2);
        // }

    }

    @media (max-width: 1000px) {
        min-width: 200px;
        flex: 1;
        max-width: 260px;
        margin: 0px 8px 20px 8px;
    }

    @media (max-width: 500px) {
        margin: 0px 4px 20px 4px;
    }

    @media (max-width: 350px) {
        margin: 0px 4px 20px 4px;
        width: 90%;
    }

    &:first-child {
        margin-top: 0px !important;
    }

    .currPrice {
        margin-bottom: 6px;
        color: rgb(138, 146, 151);  // COLOR
    }

    .currPriceNumber{
        font-size: 16px;
        font-weight: 600;
    }

    .assetName {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 14px;
        // font-style: to-upper-case($string: "");
        // color: var(--primary-light);
        color: rgb(138, 146, 151);


        &::after {
            content: "";
            width: 250px;
            height: 1px;
            // background-color: var(--primary-light);
            background-color: rgb(138, 146, 151);
            position: absolute;
            top: 48%;
            right: 0;
            transform: translateX(105%);
        }
    }
}

.upperRow {
    position: absolute;
    top: 6px;
    left: 0px;
    right: 0px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .image {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        filter: drop-shadow(0.3rem 0.4rem 0.55rem rgb(22, 22, 22));
    }
    .rankingNr {
        position: absolute;
        z-index: 4;
        right: 12px;
        top: -8px;
        font-size: 44px;
        color:rgba(138, 146, 151, 0.466);
        // color: var(--bg);
        // -webkit-text-stroke: 2px var(--bg);
        // filter: drop-shadow(2px 1px 1px #47524f);

        // letter-spacing: -6px;
    }
}

.infoPart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 14px;

    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding-left: 30px;
        line-height: 1.5em;
    }
}

.changePercent {
    color: var(--accent2);
}

.red {
    color: var(--accent1);
}
