:host {
    // padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    min-width: 180px;
    max-width: 230px;
    height: 100%;
    overflow-y: auto;
    gap: 1em;
    transform: all 400ms ease-in-out;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 3px;
        scrollbar-width: 3px;
    }

    &:hover::-webkit-scrollbar{
        background-color:rgb(75, 72, 72);
      }

    @media (max-width: 1100px) {
        width: 100%;
        max-width: unset;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    @media (max-width: 350px) {
        justify-content: center;
    }
}



.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 16px;
    padding: 45px 6px 40px 6px;
    color: var(--primary-light);
    width: calc(100% - 8px);
    min-height: 150px;
    overflow: hidden;
    transition: all ease-in-out 150ms;
    cursor: pointer;

    &:hover{
        box-shadow: rgb(36, 35, 35) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    

        .rankingNr{
            color: var(--accent2);
            
            .nr{
                color: var(--accent2);
            }
        }

        .assetName{
            color: var(--accent2);

            &::after{
                background-color: var(--accent2);
            }
        }
    }

    @media (max-width: 1100px) {
        min-width: 200px;
        flex: 1;
        max-width: 260px;
    }

    @media (max-width: 500px) {
        width: 90%;
        max-width: 400px;
        min-height: 200px;
    }

    @media (max-width: 445px) {
        width: 90%;
        max-width: 400px;
        min-height: 200px;
    }

    @media (max-width: 350px) {
        width: 90%;
        max-width: 350px;
    }

    &:first-child {
        margin-top: 0px !important;
    }

    .currPrice {
        margin-bottom: 6px;
        color: var(--assetGrey);  // COLOR
    }

    .currPriceNumber{
        font-size: 16px;
        font-weight: 600;

        @media (max-width: 445px) {
            font-size: 20px;
        }
    
        @media (max-width: 350px) {
            font-size: 24px;
        }
    }

    .assetName {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 14px;
        color: var(--assetGrey);

        @media (max-width: 445px) {
            font-size: 18px;
        }

        &::after {
            content: "";
            width: 400px;
            height: 1px;
            background-color: var(--assetGrey);
            position: absolute;
            top: 48%;
            right: 0;
            transform: translateX(105%);
        }
    }
}

.upperRow {
    position: absolute;
    top: 6px;
    left: 0px;
    right: 0px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .image {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        filter: drop-shadow(0.3rem 0.4rem 0.55rem rgb(22, 22, 22));

        @media (max-width: 445px) {
            width: 54px;
            height: 54px;
        }
    }

    .rankingNr {
        position: absolute;
        display: flex;
        align-items: center;
        z-index: 4;
        right: 12px;
        top: -8px;
        font-size: 44px;
        font-weight: var(--font-bold);
        color: rgb(156 164 173 / 53%);

        @media (max-width: 445px) {
            font-size: 50px;
        }

        .mcr{
            font-size: 18px;
            height: 100%;
            padding-bottom: 12px;
        }
        .nr{
            font-size: 44px;
            font-weight: var(--font-bold);
            color: rgb(156 164 173 / 53%);
        }
    }
}

.infoPart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 14px;

    @media (max-width: 445px) {
        font-size: 18px;
    }


    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding-left: 30px;
        line-height: 1.5em;
    }
}

.changePercent {
    color: var(--accent2);
    font-weight: var(--font-bold);
}

.red {
    color: var(--accent1);
}
