
<div 
    @fadeIn
    (click)="showAsset(asset)"
    *ngFor="let asset of assetNames.slice(0, 10); index as i" class="card">
    <div class="upperRow">
        <img class="image" src="{{ images[i] }}">

        <div class="rankingNr">
            <span class="mcr">#</span> 
            <div class="nr">{{ assetRanks[i] }}</div>
        </div>

    </div>

    <div class="infoPart">
        <div class="row">
            <span class="currPrice">PRICE</span>
            <span class="currPriceNumber">€ {{ currentPrices[i].toFixed(2) }}</span>
            <span class="changePercent" [class.red]="changePercent[i] == 0 || changePercent[i] < 0">
                <span *ngIf="changePercent[i] > 0">+</span>
                {{ changePercent[i].toFixed(2) }}%
            </span>
        </div>

        <!-- pos absolute -->
        <div class="assetName">{{ assetNames[i] | uppercase }}</div>
    </div>
</div>