:host{
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        height: 100%;
        overflow: auto;
        background-color: grey;
}